/** 信息 */
$color-info: #909399;
/** 边框色 */
$color-border: #dcdfe6;
/** 失败 */
$color-danger: #F56C6C;
/** 主要 */
$color-primary: #409EFF;
/** 成功 */
$color-success: #67C23A;
/** 警告 */
$color-warning: #E6A23C;
/** 深色 */
$theme-color-dark: #1f2f3d;
/** 明亮 */
$theme-color-light: #f6f9ff;
/** 深色字体色  */
$theme-text-color-dark: #ffff;
/** 明亮字体色  */
$theme-text-color-light: #333333;