.ed-breadcrumb {
  color: #899bbd;
  line-height: 30px;

  &-item {
    &__label {
      cursor: default;
      font-size: 14px;

      &.is-like {
        cursor: pointer;

        &:hover {
          color: #51678f;
        }
      }
    }

    &__separator {
      color: #c0c4cc;
      padding: 0 8px;
      font-size: 14px;
    }

    &:last-child {
      .ed-breadcrumb-item {
        &__label {
          color: #51678f;

          &:hover {
            color: #51678f;
          }
        }

        &__separator {
          display: none;
        }
      }
    }
  }
}
