/**
 * =========================================================
 * Button 按钮
 * =========================================================
 */
.ed-button {
  cursor: pointer;
  line-height: 1.5;
  font-weight: 400;
  padding: 6px 12px;
  user-select: none;
  border-radius: 6px;
  display: inline-block;
  transition: color .15s;
  background-color: #ffffff;
  color: $theme-text-color-light;
  border: 1px solid $color-border;

  & + & {
    margin-left: 4px;
  }

  &.is-disabled {
    cursor: not-allowed;
  }

  &.is-round {
    border-radius: 1.5em;
  }

  &-- {
    &large {
      font-size: 18px;
      padding: 8px 16px;
    }

    &small {
      font-size: 12px;
      padding: 4px 8px;
    }

  }
}

.ed-button-group {
  display: inline-block;
  vertical-align: middle;

  .ed-button {
    margin: 0;

    &.is-plain + .is-plain {
      border-left: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.ed-button--text {
  padding: 0;
  border-width: 0;
  background: none;
  color: $color-primary;

  &:active,
  &:hover {
    color: mix($color-primary, #fff, 70%);
  }

  &.is-disabled {
    color: $color-info;
  }
}

@mixin buttonColorHover($text,$border,$background) {
  &:active,
  &:hover {
    color: $text;
    border-color: $border;
    background-color: $background;
  }
}

@mixin ed-button--default {
  .ed-button--default {
    background-color: #ffffff;
    border-color: $color-border;
    color: $theme-text-color-light;
    @include buttonColorHover($color-primary, $color-primary, mix(#fff, $color-primary, 90%));

    &.is-disabled {
      background-color: #ffffff;
      border-color: $color-border;
      color: $theme-text-color-light;
    }

    &.is-plain {
      background-color: #ffffff;
      border-color: $color-border;
      color: $theme-text-color-light;

      &.is-disabled {
        background-color: #ffffff;
        border-color: $color-border;
        color: $theme-text-color-light;
      }
    }
  }
}

@include ed-button--default;

$color-weight: 15%;
@mixin buttonColorDisabled($text,$border,$background) {
  &.is-disabled {
    color: mix(#333, $text, $color-weight);
    border-color: mix(#333, $border, $color-weight);
    background-color: mix(#333, $background, $color-weight);
  }
}

@mixin buttonColor($name,$color) {
  $text: #fff;
  .ed-button--#{$name} {
    color: $text;
    border-color: $color;
    background-color: $color;
    @include buttonColorHover($text, $color, mix(#fff, $color, $color-weight));

    @include buttonColorDisabled($text, $color, $color);

    $plain-border: $color;
    $plain-background: mix(#fff, $color, 75%);

    &.is-plain {
      color: $color;
      border-color: $plain-border;
      background-color: $plain-background;
      @include buttonColorHover($text, $color, $plain-border);
      @include buttonColorDisabled($color, $plain-border, $plain-background);
    }
  }
}

@each $key, $val in ('primary':$color-primary, 'success':$color-success, 'warning':$color-warning, 'danger':$color-danger, 'info':$color-info) {
  @include buttonColor($key, $val)
}


/**
 * =========================================================
 * 自动适应主题模式 明亮|深色
 * =========================================================
 */
.ed-theme__dark {
  @include buttonColor('default', mix($theme-color-dark, #fff, 80%));
}

@media(prefers-color-scheme: light) {
  .ed-theme--auth {
    @include ed-button--default;
  }
}

@media(prefers-color-scheme: dark) {
  .ed-theme--auth {
    @include buttonColor('default', mix($theme-color-dark, #fff, 80%));
  }
}
